<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <h1>Reward Points</h1>
    
    <!-- {% for order_of_this_user in orders_of_this_user %} -->
      <!-- <h2> order_of_this_user  {{order_of_this_user}}</h2> -->
    <!-- {% endfor %} -->
    <!-- {% for order in order %} -->
      <!-- <h5>order  {{order}}</h5> -->
    <!-- {% endfor %} -->
    <!-- {% for product in product %} -->
             
    <!-- points  {{product.points}}<br> -->
    <!-- {% endfor %} -->
    <!-- {% for order_lines in order_lines %} -->
    <!-- order_lines  {{order_lines}}<br> -->
    <!-- {% endfor %} -->
     
    <h3>{{user}} have {{blank}} reward points </h3>
    </center>
</body>
</html>